/* purgecss start ignore */
.markdown {
  /* global styles */
  @apply font-roboto leading-relaxed text-base font-normal text-base;

  & > * {
    @apply max-w-screen-md mx-auto;
  }
  /* images */
  &  img.g-image {
    @apply max-w-screen-lg mx-auto max-w-full my-10;
  }

  /* math  */
  & > span.katex-display{
    @apply max-w-screen-md mx-auto;
  }
  & span.katex-display span.katex{
    /* background-color: var(--card-background-color); */
    @apply p-4 rounded-md;
  }
  /* inline math */
  & span.katex{
    @apply px-2 py-1 mx-2 rounded-md;
  }
  & span.frac-line{
    border-color:unset;
  }

  /* to make sure the image is within the container */
  @media (width <= 768px) {
    & > img.g-image {
      @apply w-full;
    }
  }
  
  & > * + *,  & li + li, & li > p + p {
    @apply mt-5;
  }

  & > li, & li + li, & li{
    list-style: none;
  }
  /* headings */
  & h1, & h2{
    @apply leading-relaxed font-medium mb-2 mt-6;
  }
  & h1{ @apply text-2xl; }
  & h2{ @apply text-xl; }
  & h3, & h4{
    @apply leading-snug font-medium mt-4 -mb-2;
  }                                                              
  & h3 { @apply text-lg; }
  & h4 { @apply text-base; }
  /* headings for large devices */
  @media (width >= 1024px) {
    & h1 { @apply text-3xl; }
    & h2 { @apply text-2xl; }
    & h3 { @apply text-xl; }
    & h4 { @apply text-lg; }
    /* & p { @apply text-lg;} */
  }
  
  /* links  */
  & strong {
    @apply font-bold;
  }
  & a {
    @apply text-primary-400;
  }
  & a:hover{ 
    @apply text-primary-600;
  }
  & strong a {
    @apply font-bold;
  }

  /* code snippets */
  & code {
    @apply font-mono text-sm inline px-1 overflow-x-auto;
  }
  & pre code {
    @apply block  p-4 rounded;
  }

  /* quotes */
  & blockquote {
    @apply border-l-4 pl-4 italic border-primary-700;
  }
  /* lists */
  & ul, & ol {
    @apply pl-5;
    @screen sm {
      @apply pl-10;
    }
  }

  /* *********************** Tables ******************************** */
  & table {
    @apply shadow;
    background-color: var(--table-background-color)
  }
  & table thead {
    background-color: var(--thead-background-color);
    color: var(--thead-text-color);
  }

  /* no border for last row */
  & table tr:last-child {
    @apply border-b-0;
  }

  /* alternate color for even child */
  & table tbody tr:nth-child(even) {
    background-color: var(--table-row-alternate-background);
  }

  & table tbody > tr:hover {
    background-color: var(--page-background-color);
  }

  /* table heading cells */
  & table tr th {
    @apply text-left px-8 py-4 border-r-0;
  }
  /* no border for last child */
  & table tr th:last-child {
    @apply border-r-0;
  }

 /* table data cells */
  & table tr td {
    @apply  px-8 py-4 border-r-0;
  }
  /* no border for last child */
  & table tr td:last-child {
    @apply border-r-0;
  }
}

/* purgecss end ignore */
