/* body{
    @apply bg-gray-900;
} */

.border-above::before {
    height: 0.1rem;
    content: '';
    /* max-width: 10rem; */
    @apply bg-primary-500 w-1/3 block my-1 transform duration-200;
}
.border-above:hover::before{
    @apply w-1/2
}

.border-below::after {
    height: 0.2rem;
    content: '';
    max-width: 10rem;
    @apply bg-primary-500 w-0 block my-2 mx-auto;
    @apply animation-width animation-delay-300ms animation-500ms;
}

/* for tags */
.tag:last-child>span.saperator {
    display: none;
}

/* for excerpt */
.excerpt {
    @apply my-4 font-roboto text-gray-600 leading-relaxed;
}

/* scroll bar - webkit browsers*/
/* Track */
::-webkit-scrollbar-track {
  @apply border-none bg-transparent; 
}
*::-webkit-scrollbar {
    @apply h-2 w-2 border-none;
}
*::-webkit-scrollbar-thumb {
    @apply bg-gray-500 rounded-sm;
}
*::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-700;
}
*::-webkit-scrollbar-thumb:active {
    @apply bg-primary-500;
}
/* scroll bar - firefox browsers */
* {
    scrollbar-width: thin;
    scrollbar-color:  theme('colors.primary.400')  theme('colors.gray.100');
}

/* for text selection */
::selection { /* Code for webkit browsers */
@apply bg-primary-500 text-white;
}

/* katex */
/* .katex-display {
    overflow: auto
} */

.katex-display {
    overflow: auto;
}