.border-above::before {
    height: 2px;
    content: '';
    @apply bg-primary-500 w-1/3 max-w-xs block my-2 max-w-xs;
}

.border-below::after {
    height: 2px;
    content: '';
    @apply bg-primary-500 w-1/2 max-w-xs block my-2 max-w-xs mx-auto;
}

/* for tags */
.tag:last-child>span.saperator {
    display: none;
}

/* for excerpt */
.excerpt {
    @apply my-4 font-roboto text-gray-600 leading-relaxed;
}

/* scroll bar - webkit browsers*/
::-webkit-scrollbar {
    @apply h-1 w-1;
}
::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
}
::-webkit-scrollbar-thumb:active {
    @apply bg-primary-500;
}
/* scroll bar - firefox browsers */
* {
    scrollbar-width: thin;
    scrollbar-color:  theme('colors.primary.400')  theme('colors.gray.100');
}

/* for text selection */
  ::selection { /* Code for webkit browsers */
    @apply bg-primary-500 text-white;
  }
  
  /* ::selection {
    color: red;
    background: yellow;
  } */